.no-padding {
    border: 0px;
    padding:0;
    margin:0;
    border-collapse: collapse;
}

.hadjust {
  height: 30px;

}

#mainContent {

  height: 800px !important;

}

.fixH {

  height: 70px !important;
}

.verLign {

  vertical-align: 50% !important;
}
